body {
background-color: #4f5b5e;
}

h1, h3{
color: lightblue;
margin-left: 20px;
}

pre{
color:lightblue;
margin-left: 30px;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}